<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (filhoEncerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramento === 'Derrota'; else fimDeJogoVitoria" class="container" style="margin-top: 50px;">
        <div class="row"> 
            <div class="col errou">
                <h3>
                    Fim de jogo, infelizmente você perdeu.
                </h3>
                <h1> </h1>
                <button class="btn btn-primary" (click)="reiniciarJogo()">
                    Jogar Novamente
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col acertou">
                <h3>
                    Fim de jogo, Parabéns! Você ganhou!
                </h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">
                    Jogar Novamente
                </button>
            </div>
        </div>
    </div>
</ng-template>